html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

.section {
    min-height: 90vh;
    background-color: #ffffff;
}

#type {
    padding: 0 10%;
    background-color: none;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 65px;
    /*line-height: 100vh;*/
    white-space: nowrap;
}

#back {
    background-color: #0223f7;
    position: relative;
    background-image: url(images/gnh2.png);
    background-size: cover;                     
    background-repeat: no-repeat;
    background-position: center center;   

}

.blinking-cursor {
    user-select: none;
    animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

.custom-shape-divider-bottom-1633480523 {
    position: absolute;
    bottom: 90px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1633480523 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 174px;
}

.custom-shape-divider-bottom-1633480523 .shape-fill {
    fill: #FFFFFF;
}
